* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 2000px;
    .banner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #bg {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff url('./media/heart.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100px;
            mix-blend-mode: screen;
        }
    }
}